.exp {
  background-color: var(--carBackground);
}

.exp-wrapper img {
  width: 200px;
}

.exp-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -100%;
  opacity: 0;
}

.exp-card {
  width: 100%;
  max-width: 250px;
  height: 350px;
  margin: 2rem 2rem 1rem 2rem;
  padding: 25px;
  box-shadow: var(--shadow);
  margin-bottom: 1rem;
  border-radius: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.exp-card h4 {
  font-size: 12px;
}

.exp-card h3 {
  margin: .5rem 0 1rem 0;
}

.exp-card div {
  text-align: center;
}

.slideRight {
  animation: fadeSlide 2.5s forwards;
}

@keyframes fadeSlide {
  from {
    margin-left: -100%;
    opacity: 0;
  }

  to {
    margin-left: 0;
    opacity: 1;
  }
}